@import '~bootstrap/dist/css/bootstrap.min.css';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto,"Helvetica Neue", sans-serif;
  background-color: #d3dffa !important;
}

.no-hover-effect.mat-mdc-fab.mat-accent, .mat-mdc-mini-fab.mat-accent {
  --mdc-fab-container-color: #F5F5F5;
  --mat-mdc-fab-color: black;
}

mat-icon {
  cursor: pointer;
}
